# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# n8n → conexión a postgres
DB_TYPE=
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=
DB_POSTGRESDB_DATABASE=
DB_POSTGRESDB_USER=
DB_POSTGRESDB_PASSWORD=

# n8n general
N8N_ENCRYPTION_KEY= # Cambia esto por una clave de cifrado segura (32 caracteres), podes generarla con `openssl rand -hex 16` o `openssl rand -base64 32` (en este caso, asegurate de que el resultado tenga exactamente 32 caracteres).
