# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# n8n → conexión a postgres
DB_TYPE=
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=
DB_POSTGRESDB_DATABASE=
DB_POSTGRESDB_USER=
DB_POSTGRESDB_PASSWORD=

# n8n general
N8N_ENCRYPTION_KEY=da6899ee46700db8e868bca05e5df58d539e0f6119824db09e4410a4c2136b82